body, html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: blue;
    height: 60px;
    grid-area: header;
}

nav{
    background-color: brown;
    grid-area: menu;
}
footer{
    background-color: blueviolet;
    height: 80px;
    grid-area: footer;
}
article{
    height: 250px;
    background-color: rgb(57, 82, 82);
    grid-area: content;
}
#container {
    margin: 0 auto;
    width: 1200px;
    background-color: darkgreen;
    display: grid;
    grid-template-areas: 
    'header header header header'
    'content content content menu'
    'footer footer footer footer'
    ;

}